{
    "openapi": "3.0.0",
    "info": {
      "title": "Create Maximo Job Plan",
      "version": "1.0.0",
      "description": "Calls Maximo REST API to create a job plan using the mxapijobplan object structure."
    },
    "servers": [
      {
        "url": "http://create-jobplan-maximo-flask.apps.68e7b6dc72e06a9c307a9ded.am1.techzone.ibm.com"
      }
    ],
    "paths": {
      "/create-jobplan": {
        "post": {
          "summary": "Create Job Plan",
          "description": "Create a job plan in Maximo using full JSON body from Watson Assistant action.",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "description": "Request body containing job plan details"
                    }
                  },
                  "required": ["body"]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Job Plan created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "jobPlan_number": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    },
                    "required": ["status", "jobPlan_number", "message"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad request"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      }
    }
  }
